{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block title %}
    Страница регистрации
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {#<div class="row justify-content-center">#}
    {#    <div class="col-md-8 p-5">#}
    {#      <div class="card">#}
    {#        <div class="card-header">Зарегистрироваться</div>#}
    {#          <div class="card-body">#}
    {#          {% load user_filters %} {# Загружаем фильтры #}
    {#              {% if form.errors %}#}
    {#                  {% for field in form %}#}
    {#                    {% for error in field.errors %}#}
    {#                      <div class="alert alert-danger">#}
    {#                        {{ error|escape }}#}
    {#                      </div>#}
    {#                    {% endfor %}#}
    {#                  {% endfor %}#}
    {#                  {% for error in form.non_field_errors %}#}
    {#                    <div class="alert alert-danger">#}
    {#                      {{ error|escape }}#}
    {#                    </div>#}
    {#                  {% endfor %}#}
    {#              {% endif %}#}
    {##}
    {#              <form method="post" action="{% url 'users:signup' %}">#}
    {#              {% csrf_token %}#}
    {# Выводим поля в цикле, по отдельности #}
    {#              {% for field in form %}#}
    {#                <div class="form-group row my-3">#}
    {#                  <label for="{{ field.id_for_label }}">#}
    {#                    {{ field.label }}#}
    {#                      {% if field.field.required %}#}
    {#                        <span class="required text-danger">*</span>#}
    {#                      {% endif %}#}
    {#                  </label>#}
    {# К полю ввода добавляем атрибут class #}
    {#                  {{ field|addclass:'form-control' }}#}
    {#                    {% if field.help_text %}#}
    {#                      <small#}
    {#                         id="{{ field.id_for_label }}-help"#}
    {#                         class="form-text text-muted"#}
    {#                      >#}
    {#                        {{ field.help_text|safe }}#}
    {#                      </small>#}
    {#                    {% endif %}#}
    {#                </div>#}
    {#              {% endfor %}#}
    {#              <div class="col-md-6 offset-md-4">#}
    {#                <button type="submit" class="btn btn-primary">#}
    {#                  Зарегистрироваться#}
    {#                </button>#}
    {#              </div>#}
    {#            </form>#}
    {#          </div> <!-- card body -->#}
    {#        </div> <!-- card -->#}
    {#      </div> <!-- col -->#}
    {#  </div> <!-- row --#}
    {#{% endblock %}#}
    <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
    <link rel="stylesheet" href="{% static 'css/sign_up_stas.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Регистрация</h5>
                        <form class="form" method="post" action="{% url 'users:signup' %}">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                {% for field in form %}
                                    <div class="form-group position-relative">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}
                                            {% if field.field.required %}
                                                <span class="required text-danger">*</span>
                                            {% endif %}
                                        </label>
                                        {# К полю ввода добавляем атрибут class #}
                                        {{ field|addclass:'form-control' }}
                                        {% if field.help_text %}
                                            <small
                                                    id="{{ field.id_for_label }}-help"
                                                    class="form-text text-muted"
                                            >
                                                {{ field.help_text|safe }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" id="submit"
                                        class="btn btn-lg btn-custom btn-dark btn-block">Зарегистрироваться
                                </button>
                            </div>

                            <a class="d-block text-center mt-2 small" href="{% url 'users:login' %}">Уже есть аккаунт? Войти</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}