{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/header_stas.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'orders:index' %}">
                <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top"
                     alt="">
                <span style="color:lawngreen">Courier</span>Site
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link">Пользователь: {{ request.user.username }}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders:product_list' %}">Продукты</a>
                    </li>
                    {% if request.user.is_authenticated and request.user.is_courier %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:own_profile' request.user.pk %}">Профиль</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:user_orders' request.user.id %}">Мои заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                <a class="nav-link" href="{% url "cart:cart_detail" %}">
                                    Корзина:
                                    {{ cart.get_total_price }}₽
                                </a>
                            {% else %}
                                <a class="nav-link">
                                    Ваша корзина пуста
                                </a>
                            {% endif %}
                        {% endwith %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</header>