{% extends "base.html" %}
{% block title %}
    Страница заказа
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    ОООО Это страница заказа
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}
    <hr></hr>
    {% load user_filters %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'orders:new_order' %}">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row my-3">
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <span class="required text-danger">*</span>
                                        {% endif %}
                                    </label>
                                    {#                                    К полю ввода добавляем атрибут class#}
                                    {{ field|addclass:'form-control' }}
                                    {% if field.help_text %}
                                        <small
                                                id="{{ field.id_for_label }}-help"
                                                class="form-text text-muted"
                                        >
                                            {{ field.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">
                                Сделать заказ
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}